body{
    margin:0;
    padding: 15px;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(to left, #4387F4, #5DD2FE);
}

h1, h2{
    text-align: center;
}

h2{
    margin-top: 0;
}

h1{
    color: white;
}
.form, .list{
    width: 300px;
    margin: 0 auto;
}

.form{
    margin-bottom: 40px;
}
.input-task{
    width: 200px;
    padding: 10px;
}

.time{
    width: 56px;
    padding: 8px;
}

.button-add{
    width: 100%;
    background-color: #257da2;
    padding: 10px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    
}

.input-task, .time, .button-add{
    border: none;
    border-radius: 4px;
    margin-bottom: 10px;
}

.button-add:hover{
    background-color: #02131a;
}

.button-delete{
    border: none;
    border-radius: 4px;
    padding: 10px;
    background-color: #fe0000;
    color: white;
    cursor: pointer;
}

.list li{
    list-style: "✔";
    margin-bottom: 30px;
    position: relative;
}
.list li button{
   position: absolute;
   right: 20%;
   top: -20%;
}

.bg-tasks{
    width: 300px;
    padding: 40px;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: -3px 5px 10px #02131a41;
    border-radius: 4px;
}

.list li span{
    border-bottom: 1px solid #02131a;
}